<html>
	<head>
		<title>Julia's Blog</title>
	</head>
	<body>
		<div> 
			<h1>Julia's Django Girls Blog</h1>
		</div>
		<br>
		<div>
			<h2>Django Girls @ PyConUK 2018</h2>
			<p><em>15 September 2018 @ Cardiff</em></p>
			<p>Prior to Django Girls, I had no experience with Python. This Django Girl's workshop was a fun and very instructional immersion into Python. I was very lucky to have Ania as my coach, and Evie as a fellow coachee. The workshop took place in the Edwardian baroque building <a href="https://www.cardiffcityhall.com/">Cardiff City Hall.</a></p>
		</div>
		<div>
			<h2>Topics covered in the workshop</h2>
			<p><b>From the <a href="https://tutorial.djangogirls.org/">Django Girls Tutorial</a></b></p>
			<ul><li>Introduction</li><li>Installation</li><li>How the internet works</li><li>Command line</li><li>Introduction to Python</li><li>Django</li><li>HTML</li><li>CSS</li></ul>
		</div>

	</body>
</html>